# Web framework
fastapi[standard]==0.115.5
uvicorn[standard]==0.32.0

# Database & ORM
sqlalchemy==2.0.34
asyncpg==0.29.0

# Settings
pydantic-settings==2.8.1

# Dependency injection
dependency-injector

# Scheduler
apscheduler

# Data processing
numpy==1.19.5
pandas==1.3.5
pyarrow==6.0.1

# Typing compatibility
typing-extensions==4.11.0